@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 216 28% 7%;
    --foreground: 210 17% 82%;
    --muted: 216 12% 15%;
    --muted-foreground: 216 12% 65%;
    --popover: 216 28% 4%;
    --popover-foreground: 210 17% 92%;
    --card: 216 28% 5%;
    --card-foreground: 210 17% 87%;
    --border: 216 18% 12%;
    --input: 216 18% 15%;
    --primary: 210 17% 82%;
    --primary-foreground: 210 17% 22%;
    --secondary: 210 7% 25%;
    --secondary-foreground: 210 7% 85%;
    --accent: 216 28% 22%;
    --accent-foreground: 216 28% 82%;
    --destructive: 1 86% 57%;
    --destructive-foreground: 0 0% 100%;
    --violet: 270, 100%, 50%;
    --ring: 210 17% 82%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}

.opacity-0 {
  opacity: 0;
}

